<marquee BEHAVIOR=ALTERNATE><h1><%= @guest.name %>'s page</h1></marquee>

<%= link_to "Back to All Guests", guests_path %>

<h2>Name: <%= @guest.name %></h2>

<h3>Occupation: <%= @guest.occupation %></h3>

