<h1>All Episodes</h1>

<!--<ul>-->
  <%# @episodes.each do |episode| %>
<!--    <li><%#= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}"%></li>-->
  <%# end %>
<!--</ul>-->

<ul>
  <% @episodes.each do |ep| %>
    <li><%= link_to "Episode #{ep.number} - #{ep.date.strftime("%B %d, %Y")}", ep %> <%= ep.guests.count %> guests</li>
    <% end %>
</ul>
