<h2 aling="center">Appearance</h2>


  <p>Show's Guest: <%= @appearance.guest.name %></p>
  <p>Filmed: <%= @appearance.episode.date %></p>
  <p>Rating: <%= @appearance.rating %></p>


<p><%= link_to "all appearances", appearances_path %></p>
